<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>抽獎轉盤</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="wheel">
      <div id="prize-box">
        <div
          class="prize"
          :class="{active : active === index}"
          :style="{ transform: transformHandler(index, 'prize') }"
          v-for="(item, index) in generateContent()"
        >
          <div
            class="prize-content"
            :style="{ transform: transformHandler(index, 'content') }"
            :class="{ small : dataCache[year].length > 10}"
          >
            <div class="prize-icon" v-if="year === '2017'">
              <i class="material-icons">
                {{ item.icon }}
              </i>
            </div>
            <div class="prize-text">
              {{ textOrNumber(item, 'prize') }}
            </div>
            <div class="prize-count">
              {{ item.count }}
            </div>
          </div>
        </div>
      </div>
      <div
        id="hand"
        @click="pressHandler()"
        :style="{transform: rotateHandler()}"
      >
        <button class="press">PRESS</button>
      </div>
      <div id="change-year">
        <button
          class="years"
          @click="changeYear(item)"
          v-for="item in Object.keys(dataCache)"
        >
          {{ item }}
        </button>
        <button class="years refresh" @click="restart()">
          <i class="material-icons">
            refresh
          </i>
        </button>
      </div>
      <div id="well-done" v-if="active > -1">
        <div class="text">
          <p>WELL<br />DONE!</p>
        </div>
        <div class="get">
          <p>YOUR GET A FREE...</p>
          <p class="item">{{ textOrNumber(dataCache, 'well-done') }}!</p>
        </div>
        <div class="icon" v-for="index in 10">
          <i class="material-icons">
            {{ getIcon() }}
          </i>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
